<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_Mobile_Market"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Projet_Mobile_Market">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>

        <!-- Group Infos Activity -->
        <activity
            android:name=".GroupInfosActivity"
            android:exported="true"
            android:label="Group Info"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>

        <!-- Student Activities -->
        <activity
            android:name=".Student1Activity"
            android:exported="true"
            android:label="Student 1 Info"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>

        <activity
            android:name=".Student2Activity"
            android:exported="true"
            android:label="Student 2 Info"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>

        <activity
            android:name=".Student3Activity"
            android:exported="true"
            android:label="Student 3 Info"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>

        <activity
            android:name=".DrinksActivity"
            android:exported="true"
            android:label="Drinks Infos"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>

        <activity
            android:name=".CheeseActivity"
            android:exported="true"
            android:label="Cheese Infos"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>
        <activity
            android:name=".FrozenActivity"
            android:exported="true"
            android:label="Frozen Infos"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>
        <activity
            android:name=".SauceActivity"
            android:exported="true"
            android:label="Sauce Infos"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>
        <activity
            android:name=".BeautyActivity"
            android:exported="true"
            android:label="Beauty Infos"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>
        <activity
            android:name=".CanActivity"
            android:exported="true"
            android:label="Can Infos"
            android:theme="@style/Theme.Projet_Mobile_Market">
        </activity>

    </application>

</manifest>
